<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/product.css">
    <link rel="stylesheet" href="/assets/css/cart.css">
    <link rel="stylesheet" href="/assets/css/user.css">
    <link rel="stylesheet" href="/assets/css/checkedsubmit.css">
    <link rel="stylesheet" href="/assets/css/Grid.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-free-5.15.2/css/all.min.css">
</head>
<body>
    <div class="app">
        {{#if account}}{{> headerlogged}}{{else}}{{> headerlogandreg}}{{/if}}
        <div class="app__container">
            <div class="grid wide">
                <div class="row sm-gutter app__content">
                    <div class="col l-2 m-0 c-0">
                        <nav class="category">
                            <h3 class="category__heading">
                                <i class="category__heading-icon fas fa-list"></i>
                                Danh mục
                            </h3>
                            <ul class="category-list">
                                <li class="category-item">
                                    <a href="/" class="category-item__link">Trang chủ</a>
                                </li>
                                <li class="category-item">
                                    <a href="/user/information" class="category-item__link">Địa chỉ</a>
                                </li>
                                <li class="category-item category-item--active">
                                    <a href="/user/password" class="category-item__link">Đổi mật khẩu</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col l-10 m-12 c-12">
                        <div class="wrap-password">
                            <div class="header-password">
                                <h2>Đổi Mật Khẩu</h2>
                                <p class="header-password-separate">Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác</p>
                            </div>
                            <form id="changepassword" action="/user/changepassword" method="post">
                                 <ul class="container-password">
                                    <li class="password-input">
                                        <label for="current-password" class="left-cell hiden-on-mobile">Mật Khẩu Hiện Tại</label>
                                        <div class="auth-form__group">
                                            <input type="password" id="current-password" class="right-cell" rules="required" name="currentpassword" placeholder="Mật Khẩu Hiện Tại"><br>
                                            <span id="checkpassword" class="form-message" style="color: red;"></span>
                                        </div>
                                        
                                    </li>
                                    {{!-- 2 the co id la password va repassword la do ham equal trong validator dung 2  id nay --}}
                                    <li class="password-input auth-form__group">
                                        <label for="new-password" class="left-cell hiden-on-mobile">Mật Khẩu Mới</label>
                                        <div class="auth-form__group">
                                            <input type="password" id="password" class="right-cell" rules="required|min:8" name="newpassword" placeholder="Mật Khẩu Hiện Tại"><br>
                                            <span class="form-message" style="color: red;"></span>
                                        </div>
                                    </li>
                                    <li class="password-input auth-form__group">
                                        <label for="confirm-new-password" class="left-cell hiden-on-mobile">Xác Nhận Mật Khẩu Mới</label>
                                        <div class="auth-form__group">
                                             <input type="password" id="repassword" class="right-cell" rules="required|min:8|equal" name="confirmpassword" placeholder="Xác Nhận Mật Khẩu Mới"><br>
                                            <span class="form-message" style="color: red;"></span>
                                        </div>
                                    </li>
                                    <li class="password-input" >
                                        <label class="left-cell"></label>
                                        <button class="btn btn--primary btn-new-password btn__center-on-mobile right-cell" style="margin-top: 10px;">Đổi mật khẩu</button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <footer class="footer">
            <div class="grid wide footer__mobile">
                <div class="row">
                    <div class="col l-2-4 m-4 c-6">
                        <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                        <ul class="footer__list">
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">Mail</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">
                                    Trung tâm trợ giúp
                                </a>
                            </li>
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">
                                    Hướng dẫn mua hàng
                                </a>
                            </li>   
                        </ul>
                    </div>
                    <div class="col l-2-4 m-4 c-6">
                        <h3 class="footer__heading">Giới thiệu</h3>
                        <ul class="footer__list">
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">
                                    Giới thiệu
                                </a>
                            </li>
                            <li class="footer__list-item">
                                <a href="" class="footer__list-item-link">Tuyển dụng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-4 c-6">
                        <h3 class="footer__heading">Theo dõi</h3>
                        <li class="footer__list-item">
                            <a href="" class="footer__list-item-link">
                                <i class="footer__list-item-link-logo fab fa-facebook-square"></i>
                                Facebook
                            </a>
                        </li>
                        <li class="footer__list-item">
                            <a href="" class="footer__list-item-link">
                                <img class="footer__list-item-link-logo footer__list-item-link-logo-zalo" src="/assets/img/zalo-seeklogo.com.svg" alt="logo zalo image">
                                Zalo
                            </a>
                        </li>
                        <li class="footer__list-item">
                            <a href="" class="footer__list-item-link">
                                <i class="footer__list-item-link-logo fab fa-twitter-square"></i>
                                Twitter
                            </a>
                        </li>
                    </div>
                    <div class="col l-2-4 m-4 c-6">
                        <h3 class="footer__heading">
                            Điều khoản
                        </h3>
                        <li class="footer__list-item">
                            <a href="" class="footer__list-item-link">
                                Điều khoản & điều kiện
                            </a>
                        </li>
                        <li class="footer__list-item">
                            <a href="" class="footer__list-item-link">
                                Chính sách pháp lý
                            </a>
                        </li>
                        <li class="footer__list-item">
                            <a href="" class="footer__list-item-link">
                                Chính Sách Bảo Mật
                            </a>
                        </li>
                        
                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="/validatior.js"></script>
<script>
    $("#current-password").blur(function(){
        var password =$("#current-password").val();
        $.post("/user/checkpassword",{checkPassword: password},function(data, status){
            if(data!=="1"){
                $("#checkpassword").html(data);
                $(".btn-new-password").click(function(e){
                    e.preventDefault();
                })
            }
            else{
                $("#checkpassword").html("");
                $(".btn-new-password").unbind("click");

            }
        });
    });
    var form = new Validator("#changepassword");
    
</script>
</html>