<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #fe6433;">
    <div class="container">
        <a class="navbar-brand" href="/me/stored/product"><img src="/assets/img/doraemon3.svg" alt="" style="width: 60px;height:60px;">Cửa hàng điện tử dora</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/me/stored/product">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://fullstack.edu.vn/assets/images/nobody_m.256x256.jpg" alt="" class="user-avatar">
                        admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link dropdown-toggle" href="/me/ordermanagement" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Đơn hàng
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/me/status0">Đơn hàng chưa xác nhận</a>
                            <a class="dropdown-item" href="/me/status1">Đơn hàng đã xác nhận</a>
                            <a class="dropdown-item" href="/me/status2">Đơn hàng đã hoàn thành</a>
                            <a class="dropdown-item" href="/me/status-1">Đơn hàng khách muốn hủy</a>
                        </div>
                        <a class="dropdown-item" href="/me/statistical">Thống kê doanh thu</a>
                        <a class="dropdown-item" href="/product/create">Thêm sản phẩm mới</a>
                        <a class="dropdown-item" href="/me/stored/product">Danh sách sản phẩm đã thêm</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/user/Logout">Đăng xuất</a>
                    </div>
                </li>
            </ul>
            <form  action="/searchadmin" method="GET" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Nhập sản phẩm" name='historycontent' aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>