<div class="grid wide">
    <nav class="header__navbar hiden-on-mobile-tablet">
        <ul class="header__navbar-list">
            <li class="header__navbar-item header__navbar-item--separate">
                Vào cửa hàng trên ứng dụng Dora
            </li>
            <li class="header__navbar-item">
                Kết nối
                <a href="" class="header__navbar-icon-link">
                    <i class="header__navbar-icon fab fa-facebook"></i>
                </a>
            </li>
        </ul>
        <ul class="header__navbar-list">
            <li class="header__navbar-item header__navbar-item--has-notify">
                <a href="" class="header__navbar-item-link">
                    Thông báo
                    <i class="header__navbar-icon far fa-bell"></i>
                </a>
                <div class="header__notify">
                    <header class="header_notify-header">
                        <h3>Thông báo mới nhận</h3>
                    </header>
                    <ul class="header__notify-list">
                        <li class="header__notify-item header__notify-item--viewed">
                            <a href="" class="header__notify-link">
                                <img src="https://cdn.tgdd.vn/Products/Images/42/228738/iphone-12-pro-xam-new-600x600-600x600.jpg" alt="" class="header__notify-img">
                                <div class="header__notify-info">
                                    <span class="header__notify-name">Điện thoại chính hãng</span>
                                    <span class="header__notify-description">Mô tả điện thoại chính hãng,hàng chính hãng cứ yên tâm nhé mọi người</span>
                                </div>
                            </a>
                        </li>
                        <li class="header__notify-item">
                            <a href="" class="header__notify-link">
                                <img src="https://cdn.tgdd.vn/Products/Images/42/228738/iphone-12-pro-xam-new-600x600-600x600.jpg" alt="" class="header__notify-img">
                                <div class="header__notify-info">
                                    <span class="header__notify-name">Điện thoại chính hãng</span>
                                    <span class="header__notify-description">Mô tả điện thoại chính hãng</span>
                                </div>
                            </a>
                        </li>
                        <li class="header__notify-item">
                            <a href="" class="header__notify-link">
                                <img src="https://cdn.tgdd.vn/Products/Images/42/228738/iphone-12-pro-xam-new-600x600-600x600.jpg" alt="" class="header__notify-img">
                                <div class="header__notify-info">
                                    <span class="header__notify-name">Điện thoại chính hãng</span>
                                    <span class="header__notify-description">Mô tả điện thoại chính hãng</span>
                                </div>
                            </a>
                        </li>
                        <li class="header__notify-item">
                            <a href="" class="header__notify-link">
                                <img src="https://cdn.tgdd.vn/Products/Images/42/228738/iphone-12-pro-xam-new-600x600-600x600.jpg" alt="" class="header__notify-img">
                                <div class="header__notify-info">
                                    <span class="header__notify-name">Điện thoại chính hãng</span>
                                    <span class="header__notify-description">Mô tả điện thoại chính hãng</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <footer class="header__notify-footer">
                        <a href="" class="header__notify-footer-btn">Xem tất cả</a>
                    </footer>
                </div>
            </li>
            <li class="header__navbar-item">
                <a href="" class="header__navbar-item-link">
                    Trợ giúp
                    <i class="header__navbar-icon far fa-question-circle"></i>
                </a>
            </li>
            <!-- Nut dang ki va dang nhap khi chua dang nhap vao tai khoan -->
            
            <li class="header__navbar-item header__navbar-item--strong header__navbar-item--separate">
                <a href="/user/Register" id="render-register" class="header__navbar-item-link">Đăng kí</a>
            </li>
            <li class="header__navbar-item header__navbar-item--strong ">
                <a href="/user/Login" id="render-login" class="header__navbar-item-link" >Đăng nhập</a>
            </li>
            {{!-- <li class="header__navbar-item header__navbar-user">
                <img src="https://fullstack.edu.vn/assets/images/nobody_m.256x256.jpg" alt="" class="header__navbar-user-img">
                <span class="header__navbar-user-name">Nguyễn Nhật Tân</span>
                <ul class="header__navbar-user-menu">
                    <li class="header__navbar-user-menu-item">
                        <a href="" class="">Tài khoản của tôi</a>
                    </li>
                    <li class="header__navbar-user-menu-item">
                        <a href="" class="">Địa chỉ của tôi</a>
                    </li>
                    <li class="header__navbar-user-menu-item">
                        <a href="" class="">Đơn mua</a>
                    </li>
                    <li class="header__navbar-user-menu-item header__navbar-user-menu-item--separate">
                        <a href="" class="">Đăng xuất</a>
                    </li>
                </ul>
            </li> --}}
        </ul>
    </nav>
    <!-- header search-->
    <div class="header__search-logo-cart">

        <label for="mobile-input" class="header__mobile-list">
            <i class="mobile-list-item-logo fas fa-bars"></i>
        </label>
        <input type="checkbox" hidden name="" id="mobile-input" class="mobile-tablet-input">
        <label for="mobile-input" class="header__overlay-mobile-tablet-list">
            
        </label>

        <nav class="category__mobile">
            <ul class="category__mobile-list">
                <!-- cai icon dau x dung chung nhung se an di tren mobile cho de nhin -->
                <label for="mobile-input" class="category__mobile-close-icon">
                    <i class="fas fa-times"></i>
                </label>
                <li class="category__mobile-item">
                    <a href="#" class="category__mobile-item-link">Trang chủ</a>
                </li>
                <li class="category__mobile-item">
                    <a href="#" class="category__mobile-item-link">Nguyễn Nhật Tân</a>
                </li>
                <li class="category__mobile-item">
                    <a href="" class="category__mobile-item-link">Đăng nhập</a>
                </li>
                <li class="category__mobile-item">
                    <a href="" class="category__mobile-item-link">Đăng ký</a>
                </li>
                <li class="category__mobile-item category__mobile-item--active">
                    <a href="#" class="category__mobile-item-link">Điện Thoại</a>
                </li>
                <li class="category__mobile-item">
                    <a href="#" class="category__mobile-item-link">Laptop</a>
                </li>
                <li class="category__mobile-item">
                    <a href="#" class="category__mobile-item-link">Phụ Kiện Điện Thoại</a>
                </li>
                <li class="category__mobile-item">
                    <a href="#" class="category__mobile-item-link">Phụ Kiện Laptop</a>
                </li>
            </ul>
        </nav>
        <label for="mobile-search-checkbox" class="header__mobile-search">
            <i class="header__mobile-search-icon fas fa-search"></i>
        </label>
        <div class="header__logo">
            <a href="/" class="header__logo-link"><img src="https://www.downloadclipart.net/large/doraemon-transparent-png.png" alt="" class="header__logo-img">DORA</a>
        </div>
        <input type="checkbox" hidden id="mobile-search-checkbox" class="header__search-checkbox">
        <div class="header__search hiden-on-mobile">
            <div class="header__search-wrap">
                <form action="/search" method="GET" class="search-form">
                    <input type="text" class="header__search-input" placeholder="Nhập sản phẩm tìm kiếm" name='historycontent'>
                    <button class="header__search-btn">
                        <i class="header__search-btn-icon fas fa-search"></i>
                    </button>
                </form>
                {{!-- them vao form se lam cho ket qua tim kiem bi sai --}}
                <div class="header__search-history">
                    <h3 class="header__search-history-heading">
                        Lịch sử tìm kiếm
                    </h3>
                    <ul class="header__search-history-list">
                        {{#each historydata}}
                        <li class="header__search-history-items">
                            <a href="">{{this.historycontent}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="header__cart">
            <div class="header__cart-hover">
                <i class="header__cart-icon fas fa-shopping-cart"></i>
                <span class="header__cart-icon-notice">3</span>
                <!-- No cart add class: header__cart-list--no-cart -->
                <div class="header__cart-list">
                    <img src="/assets/img/no-cart.png" alt="" class="header__cart-no-cart-img">
                    <p class="header__card-list-text-no-cart">
                        Chưa có sản phẩm
                    </p>
                    <h3 class="header__cart-heading">Sản phẩm đã thêm</h3>
                    <ul class="header__cart-list-items">
                        <!-- Cart items -->
                        <li class="header__cart-items">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/220833/samsung-galaxy-s21-tim-600x600-600x600.jpg" alt="" class="header__cart-items-img">
                            <div class="header__cart-items-info">
                                <div class="header__cart-items-head">
                                    <h5 class="header__cart-items-name">Điện thoại Galaxy S10</h5>
                                    <div class="header__cart-items-price-wrap">
                                        <span class="header__cart-items-price">2.000.000đ</span>
                                        <span class="header__cart-items-multiply">x</span>
                                        <span class="header__cart-items-sl">2</span>
                                    </div>
                                </div>
                                <div class="header__cart-items-body">
                                    <span class="header__cart-items-description">Phân loại màu: Đen</span>
                                    <span class="header__cart-items-delete">Xóa</span>
                                </div>
                            </div>
                        </li>
                        <li class="header__cart-items">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/220833/samsung-galaxy-s21-tim-600x600-600x600.jpg" alt="" class="header__cart-items-img">
                            <div class="header__cart-items-info">
                                <div class="header__cart-items-head">
                                    <h5 class="header__cart-items-name">Điện thoại Galaxy S10</h5>
                                    <div class="header__cart-items-price-wrap">
                                        <span class="header__cart-items-price">2.000.000đ</span>
                                        <span class="header__cart-items-multiply">x</span>
                                        <span class="header__cart-items-sl">2</span>
                                    </div>
                                </div>
                                <div class="header__cart-items-body">
                                    <span class="header__cart-items-description">Phân loại màu: Đen</span>
                                    <span class="header__cart-items-delete">Xóa</span>
                                </div>
                            </div>
                        </li>
                        <li class="header__cart-items">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/220833/samsung-galaxy-s21-tim-600x600-600x600.jpg" alt="" class="header__cart-items-img">
                            <div class="header__cart-items-info">
                                <div class="header__cart-items-head">
                                    <h5 class="header__cart-items-name">Điện thoại Galaxy S10</h5>
                                    <div class="header__cart-items-price-wrap">
                                        <span class="header__cart-items-price">2.000.000đ</span>
                                        <span class="header__cart-items-multiply">x</span>
                                        <span class="header__cart-items-sl">2</span>
                                    </div>
                                </div>
                                <div class="header__cart-items-body">
                                    <span class="header__cart-items-description">Phân loại màu: Đen</span>
                                    <span class="header__cart-items-delete">Xóa</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="/cart" class="header__cart-view-cart btn btn--primary">Xem giỏ hàng</a>
                </div>
            </div>
            
        </div>
    </div>
</div>  